section.home{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
}
div.fondo{
    position: relative;
    background-color: #90e0ef;
    border-radius: 50px;
    width: 40%;
    height: 80%;
    z-index: -1;
}
.img-home{
    position: absolute;
    width: 80%;
    height: 120%;
    bottom: 0;
    left: 10%;
    z-index: -1;
}
div.words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1-home{
    font-size: 5em;
    color: #0077b6;
}
.p-home{
    font-size: 1.3em;
    color: #00b4d8;
}
.btn-cv{
    background-color: #caf0f8;
    border-radius: 10px;
    padding: 18px 32px;
    font-size: 16pt;
    color: #0096c7;
    cursor:pointer;
    transition: .8s ease;
}
.btn-cv:hover{
    box-shadow: 0px 3px 10px hsl(195, 100%, 35%);
    background-color: #fff;
    transition: .8s ease;
}
/* Home responsivo celular */
@media screen and (max-width: 480px){
    section.home{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    div.words{
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    h1.h1-home{
        width: 100%;
        font-size: 3.5em;
        text-align: center;
    }
    div.fondo{
        margin: 50px 0;
        width: 100%;
        height: 60%;
    }
    .img-home{
        width: 100%;
        left: 0;
    }
}