::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 50px;
    background-color: #e5e5e5;
    transition: all 1s ease;
}
::-webkit-scrollbar-track:hover{
    background-color: #00000069;
    transition: all 1s ease;
}
::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: #fca311;
    cursor: pointer;
}
