<div class="logo">
    <ul>
        <li><a href="#home"><img src="./assets/JUAN LOGO.png" alt="Juan Antonio Torres" /></a></li>
    </ul>
</div>
<div id="btn" class="boton-menu" onclick="botonMenu(this)">
    <div class="btn-1"></div>
    <div class="btn-2"></div>
    <div class="btn-3"></div>
</div>
<div id="des" class="menu-options">
    <ul>
        <li><a href="#home">Inicio</a></li>
        <li><a href="#">Sobre M&iacute;</a></li>
        <li><a href="#">Proyectos</a></li>
        <li><a href="#">Habilidades</a></li>
        <li><a href="#">Contactame</a></li>
    </ul>
</div>


